html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 预设样式 begin */
.fl{
    float: left;
}
.fr{
    float: right;
}

/* 清除高度为0 */
.clearflow{
    overflow: hidden;
}

/* 图片自适应 */
.auto-img{
    width: 100%;
    height: 100%;
    display: block;
}

/* 清除浮动类 */
.clearfix::after{
    content:"";
    display: block;
    clear:both;
}

/* 去掉图片底部默认缝隙 */
img{
    display: block;
}
 /* 设置网页的宽度 */
a{
    text-decoration: none;
    color:#585c64;
}
a:hover{
    color: #333;
}

.main{
    min-width: 320px;
    max-width: 750px;
    margin: 0 auto;
    height: 100%;
}

/* 手机端设置 */
html,body{
    width: 100%;
    height: 100%;
}
/* 预设样式 end */

input{
    font-family: 'Microsoft YaHei';
    outline: none;
}

em, i {
    font-style: normal;
}
/*单行溢出*/
.one-txt-cut{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*多行溢出 手机端使用*/
.txt-cut{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* -webkit-line-clamp: 2; */
    -webkit-box-orient: vertical;
}
/* 移动端点击a链接出现蓝色背景问题解决 */
a:link,a:active,a:visited,a:hover {
    background: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

